doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // <script src="https://code.jquery.com/jquery-3.3.1.min.js"integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='page1.css')
    link(rel='stylesheet', href='common.css')
    style.
  body
    #myTopnav.topnav
      a(href='/')
        img.active(src='asian-logo.png')
      .insidebar
        a(href='/about') About Us
        a(href='/products') Products
        a(href='#laying') Paver laying Instruction
        a(href='#quality') Quality
        a(href='#dload') Downloads
        a(href='/about') Contact Us
        a.icon(href='javascript:void(0);', onclick='myFunction()')
          i.fa.fa-bars
    .bodycontent
      .greybar
      //
        ________________________________________________
        ________________content 1___________________
      .content_one
        img.firstone(src='firstone.jpg')
        .backorange
        .frontwhite
          h2.heading2 ABOUT ASIAN CONCRETO
          .line
          p.textcontent1
            | Asian Concreto has become one of the most preferred names
            | in the Nepal construction industry because of the clear-cut
            | strengths that set it apart from other unorganized players in
            | the market.
        img.cornerleft(src='cornerleft.png')
      //
        ________________________________________________
        ________________content 2___________________
      .content_two
        img.firstone2(src='firsttwo.png')
        .backorange2
        .frontwhite2
          h2.heading22 EXPLORE OUR PRODUCTS
          .line2
          p.textcontent2
            | Denoted usually as paving stones, these are widely used in
            | commercial and residential projects. They are easy to remove
            | and reinstall and can be found in variety of patterns, styles
            | and colours.
            br
            br
            span.brickbar BRICKS | PAVERS | SLAB | BLOCKS | KERBS
        img.cornerright(src='cornerright.png')
      // ___________________________________________________
      // ______________content2 ends_________________________
      .content_three
        img.firstone3(src='firstone3.png')
        .backorange3
        .frontwhite3
          h2.heading23 PAVER LAYING INSTRUCTION
          .line3
          p.textcontent3
            | Denoted usually as paving stones, these are widely used in
            | commercial and residential projects. They are easy to remove
            | and reinstall and can be found in variety of patterns, styles
            | and colours.
        img.cornermid(src='cornermid.png')
      // ___________________________________________________
      // ______________content3 ends_________________________
      .content_four
        img.firstone4(src='firstone4.png')
        img.quoteopen(src='quoteopen.png')
        img.quoteclose(src='quoteclose.png')
        .frontwhite4
          h2.heading24 TESTIMONIALS
          .line4
          p.textcontent4
            | The pavers are aesthetically good and environment friendly. 
            br
            | The
            |                   service rendered by Asian Concreto pavers was professional and
            |                   very good.
            br
            br
            |                   SAMAR BHUTIA
        img.cornertop(src='cornertop.png')
      // ___________________________________________________
      // ______________content4 ends_________________________
      #asianfoot.asianfooter
        img.footerlogo(src='asian-logo2.png')
        .footertextblock
          p
            | Asian Concreto has become one of the most preferred names in the Nepal construction industry because of the clear-cut strengths that set it apart from other unorganized players in the market.
            br
            br
            | Like Us on Facebook, Asian Concreto Pvt. Ltd
            br
            br
            br
        .insidefoot1
          p.footercolumn1 Quick Links
          p.foothead1
            a(href='/about') About Us
            br
            a(href='/products') Products
            br
            a(href='/about') Contact
        .insidefoot2
          p.footercolumn2 Kathmandu Office
          p.foothead2
            | House No. 252, First Floor,
            br
            | Siddhartha Complex
            br
            |                                       Teendhara Road, Kathmandu, Nepal
            br
            |                                       +9771 - 4442430, 4443229
        .insidefoot3
          p.footercolumn3 Factory
          p.foothead3
            | Ramgram-16, Nawalparasi, Nepal
            br
            |                                     +977-9802711155
            br
            |                                     Email: info@asianconcreto.com
    script(src='page1.js')
