doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // <script src="https://code.jquery.com/jquery-3.3.1.min.js"integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='page1.css')
    link(rel='stylesheet', href='common.css')
    style.
  body
    #myTopnav.topnav
      a(href='/')
        img.active(src='asian-logo.png')
      .insidebar
        a(href='/about') About Us
        a(href='/products') Products
        a(href='#laying') Paver laying Instruction
        a(href='#quality') Quality
        a(href='#dload') Downloads
        a(href='/about') Contact Us
        a.icon(href='javascript:void(0);', onclick='myFunction()')
          i.fa.fa-bars
    .bodycontent
      .greybarp2
      //
        ________________________________________________
        ________________content 1___________________
      .content_onep2
        p.productname BRICKS
        img.firstonep2(src='firstonep2.jpg')
        .backorangep2
        .frontwhitep2
          h2.heading2p2 BRICON
          .linep2
          p.textcontent1p2
            span.p2head Consistent. Durable. Eco-Friendly.
            br
            |           Bricon is Engineered Bricks, the perfect choice to build a
            |           range of both load-bearing and non-load-bearing walls
            |           because of its great strength, durability and consistent
            |           dimensional accuracy.
            |           Engineered Bricks' long life cycle and energy efficient lead to
            |           very little environmental impact, making it ideal for a cleaner,
            |           greener world.
        img.cornerleftp2(src='cornerleftp2.png')
      //
        ________________________________________________
        ________________content 2___________________
      .content_twop2
        p.productname2 PAVERS
        img.firstone2p2(src='firstone2p2.jpg')
        .backorange2p2
        .frontwhite2p2
          h2.heading22p2 HEXA PAVELOCK RECTOPAVE LUXE
          .line2p2
          p.textcontent2p2
            span.p2head Timeless. Reliable. Versatile.
            br
            |           Rectangular Paving Stones are the simplest and most widely
            |           used Rectangular Pavers available. Such pavers have been in
            |           use since the time of ancient Romans. Over the years, they
            |           have acquired the stature of a timeless classic and become
            |           popular due to their versatility and operational convenience.
            |           Rectangular Paving Stones can also be laid out in a variety of
            |           patterns for spectacular visual appeal.
        img.cornerrightp2(src='cornerright.png')
      // ___________________________________________________
      // ______________content2 ends_________________________
      .content_three2
        p.productname SLAB
        img.firstone3p2(src='firstone3p2.jpg')
        .backorange3p2
        .frontwhite3p2
          h2.heading23p2 MELANGE
          .line3p2
          p.textcontent3p2
            span.p2head Flexible. Versatile. Artistic.
            br
            |                     Melange is a luxurious offering from the house of Asian
            |                     Concreto. Having the textured finish of natural slate, Melange
            |                     comes in a set of seven complementary pieces of different
            |                     dimensions that can be arranged in a multitude of ways.
            |                     The modular design flexibility of melange paves the way for a
            |                     diverse range of patterns and vast creative possibilities.
        img.cornerleft3p2(src='cornerleft3p2.png')
      // ___________________________________________________
      // ______________content3 ends_________________________
      .content_fourp2
        p.productname2 BLOCKS
        img.firstone4p2(src='firstone4p2.jpg')
        .backorange4p2
        .frontwhite4p2
          h2.heading24p2 HOLLOCON
          .line4p2
          p.textcontent4p2
            span.p2head Stronger. Lighter. Better.
            br
            |                   Hollocon is Engineered Blocks from the house of Asian
            |                   Concreto with two or more, hollow cavities that can be further
            |                   reinforced - making them the ideal material to build both
            |                   load-bearing and non-load bearing wall structures.
            |                   Engineered Blocks provides structures with augmented
            |                   strength and stability and has minimum environmental
            |                   impact.
        img.contentmidp2(src='cornerright4p2.png')
      // ___________________________________________________
      // ______________content4 ends_________________________
      // con5
      .content_five
        p.productname KERBS
        img.firstone5p2(src='firstone5p2.jpg')
        .backorange5p2
        .frontwhite5p2
          h2.heading23p2 KERBATT KERBULL
          .linep2
          p.textcontent1p2
            span.p2head Half-Battered Kerb Stone
            br
            |                     Half-Battered Kerb Stones are the most popular variety of
            |                     kerb stones in the world. They are extremely cost-effective
            |                     and specially designed to save vehicles from grazing
            |                     themselves against the edge of a pavement or carriageway.
            |                     The kerb stones have a sloping back profile which provides
            |                     this protection. Their inherent shape also allows road rollers
            |                     to operate right against the edge of pavements.
        img.cornerright5p2(src='cornerright5p2.png')
      // end
      #asianfoot.asianfooter
        img.footerlogo(src='asian-logo2.png')
        .footertextblock
          p
            | Asian Concreto has become one of the most preferred names in the Nepal construction industry because of the clear-cut strengths that set it apart from other unorganized players in the market.
            br
            br
            | Like Us on Facebook, Asian Concreto Pvt. Ltd
            br
            br
            br
        .insidefoot1
          p.footercolumn1 Quick Links
          p.foothead1
            a(href='/about') About Us
            br
            a(href='/products') Products
            br
            a(href='/about') Contact
        .insidefoot2
          p.footercolumn2 Kathmandu Office
          p.foothead2
            | House No. 252, First Floor,
            br
            | Siddhartha Complex
            br
            |                                       Teendhara Road, Kathmandu, Nepal
            br
            |                                       +9771 - 4442430, 4443229
        .insidefoot3
          p.footercolumn3 Factory
          p.foothead3
            | Ramgram-16, Nawalparasi, Nepal
            br
            |                                     +977-9802711155
            br
            |                                     Email: info@asianconcreto.com
    script(src='page1.js')
